<%- include("../layouts/header.ejs")%>

        <section class="content-main">
            <div class="content-header">
                <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-primary" style="height:150px">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                                <i class="icon material-icons  md-person center-xy img-fluid" style="font-size: 125px;" ></i>
                            </div>
                        </div> <!--  col.// -->
                        <div class="col-xl col-lg">
                            <h3><%= user.name %></h3>
                            <p><%= address?.building %> <%= address?.streat %>, <%= address?.district %> <%= address?.pincode %></p>
                        </div> <!--  col.// -->
                        <div class="col-xl-4 text-md-end">
                            <!-- <select class="form-select w-auto d-inline-block">
                                <option>Actions</option>
                                <option>Disable shop</option>
                                <option>Analyze</option>
                                <option>Something</option>
                            </select> -->
                        </div> <!--  col.// -->
                    </div> <!-- card-body.// -->
                    <hr class="my-4">
                    <div class="row g-4">
                        <div class="col-md-12 col-lg-4 col-xl-2">
                            <article class="box">
                                <p class="mb-0 text-muted">Total Orders:</p>
                                <h5 class="text-success"><%= order.length %></h5>
                                <p class="mb-0 text-muted">Revenue:</p>
                                <h5 class="text-success mb-0">$<%= order.reduce((ac,pr)=>ac+=Number(pr.total),0 )%></h5>
                            </article>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Contacts</h6>
                            <p>
                               Email : <%= user.email %> <br>
                               Mobile No. : <%= user.mobile %> <br>
                            </p>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Address</h6>
                            <p>
                                Country: <%=typeof address == 'undefined' ? '' : address?.country %> <br>
                                Address:<% if(address){%>
                                    <%= user.name %>,<%= typeof address == 'undefined' ? '' : address?.streat %>,<%= typeof address == 'undefined' ? '' : address?.district %>,<%= typeof address == 'undefined' ? '' : address?.state %>,near <%= typeof address == 'undefined' ? '' : address?.landmark %><%}else{%><%}%> <br>
                                Postal code: <%= typeof address == 'undefined' ? '' : address?.pincode %>
                            </p>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-xl-4 text-xl-end">
                            <map class="mapbox position-relative d-inline-block">
                                <img src="/assets/imgs/misc/map.jpg" class="rounded2" height="120" alt="map">
                                <span class="map-pin" style="top:50px; left: 100px"></span>
                                <button class="btn btn-sm btn-brand position-absolute bottom-0 end-0 mb-15 mr-15 font-xs"> Large </button>
                            </map>
                        </div> <!--  col.// -->
                    </div> <!--  row.// -->
                </div> <!--  card-body.// -->
            </div> <!--  card.// -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order by <%= user.name %></h5>
                    <div class="row">
                        <% for(let i=0; i<order.length; i++){
                            for(let j=0; j<order[i].item.length; j++){%>

                        <div class="col-xl-2 col-lg-3 col-md-6 ">
                            <div class="card card-product-grid w-100 h-100">
                                <img src="/images/<%= order[i].item[j].product.image[0] %>" alt="Product" style="width: 200px; height: 200px;" > </a>
                                <a href="#" class="img-wrap"> 
                                <div class="info-wrap">
                                    <a href="#" class="title"><%= order[i].item[j].product.title %></a>
                                    <div class="price mt-1">$<%= order[i].item[j].product.price %> (<%=  order[i].item[j].quantity %>)</div> 
                                </div>
                        </div>
                    </div> <!-- row.// -->
                    <%}}%>
                </div> <!--  card-body.// -->
            </div> <!--  card.// -->
        </section> <!-- content-main end// -->
        <%- include("../layouts/footer.ejs")%>
