<%- include('../layouts/header.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <!-- <div>
                    <h2 class="content-title card-title">Reviews</h2>
                </div>
                <div>
                    <input type="text" placeholder="Search by name" class="form-control bg-white">
                </div> -->
            </div>
            <div class="card mb-4">
                <!-- <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> -->
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Product</th>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Date</th>
                                    <th >Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%let j=1; reviews.forEach((review,index)=>{%>
                                    <tr>
                                        <td><%= j++  %></td>
                                        <td><b><%= review.title %></b></td>
                                        <td><%= review.postedby[0].name %></td>
                                        <td>
                                            <ul class="rating-stars">
                                                <%= review.rating.star %>
                                                <!-- <li style="width: 60%;" class="stars-active">
                                                    <img src="/images/<%= review.image[0] %>" alt="stars" />
                                                </li>
                                                <li>
                                                    <img src="/images/<%= review.image[0] %>" alt="stars" />
                                                </li> -->
                                            </ul>
                                        </td>
                                        <td><%= review.rating.date?.toLocaleString() %></td>
                                        <!-- <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div> 
                                        </td> -->
                                        <td><b><%= review.rating.review %></b></td>

                                    </tr>  
                                
                                     
                                <%})%>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive//end -->
                </div>
                <!-- card-body end// -->
            </div>
            <div class="pagination-area mt-30 mb-50">
                <!-- <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section> <!-- content-main end// -->
<%- include('../layouts/footer.ejs') %>