<%- include("../layouts/header.ejs")%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p></p>
                </div>
                <div>
                    <!-- <a href="/#" class="btn btn-light rounded font-md">Export</a>
                    <a href="/#" class="btn btn-light rounded  font-md">Import</a> -->
                    <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <!-- <div class="col col-check flex-grow-0">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input onkeyup="filter()" id="search" type="search" placeholder="Search..." value="<%= typeof search == 'undefined' ? '' : search %>" class="form-control">
                            </div>
                        </div> -->
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <!-- <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select> -->
                            <div class="col-lg-4 col-md-6 me-auto" o>
                                <input onkeyup="filter()" id="search" type="search" placeholder="Search..." value="<%= typeof search == 'undefined' ? '' : search %>" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select" id="status" onchange="filter()">
                                <option selected  value="">Status(All)</option>
                                <option value="Published">Publishe</option>
                                <option value="Draft">Draft</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select" id="count" onchange="filter()">
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <%if(product){%>
                    <div class="card-body">
                   <% for(let i=0;i<product.length;i++){%>
                        <article class="itemlist">
                            <div class="row align-items-center">
                                <!-- <div class="col col-check flex-grow-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" >
                                        <div class="left">
                                            <img src="/images/<%= product[i].image[0] %>" class="img-sm img-thumbnail" alt="Item">
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0"><%= product[i].title %></h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>$<%= product[i].price %></span> </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                    <span class="badge rounded-pill alert-success"><%= product[i].status %></span>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                    <% if (product[i].quantity < 1)  { %>
                                    <span class="badge rounded-pill alert-warning">out of stock</span> <% }else{ %>
                                    <span class="badge rounded-pill alert-success"><%= product[i].quantity %> item Left</span> <% } %>
                                </div>
                                <div class="col-lg-1 col-sm-2 col-4 col-date">
                                    <span></span>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                    <a href="/admin/editProduct?id=<%= product[i]._id %>" class="btn btn-sm font-sm rounded btn-brand pr-25">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <a href="/admin/deleteProduct?id=<%= product[i]._id %>" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete_forever"></i> Delete
                                    </a>
                                </div>
                            </div> <!-- row .// -->
                        </article> <!-- itemlist  .// -->
                        
                        <% } %>
                    </div> <!-- card-body end// -->
               <% }else{%>

                <%}%>
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1; i<=totalPage; i++){%>
                            <li class="page-item"><a id="page<%=i%>" onclick="getPage('page<%=i%>')"  class="page-link active"><%= i %></a></li>
                        <%}%>
                    </ul>
                </nav>
            </div>
        </section> 
<script>
    let page
    const getPage = (id)=>{
        console.log('dd');
        page = document.getElementById(id).innerHTML
        filter();
    }
    const filter = ()=>{
        console.log('ss');
        const count = document.getElementById('count').value
        const status = document.getElementById('status').value
        const search = document.getElementById("search").value
        fetch('/admin/getProduct?page='+page+'&search='+search+'&status='+status+'&count='+count,{
            method:'get'
        }).then(res=> {return res.json()}).then((res)=>{
            const {product,totalPage} = res;
        const body = document.querySelector(".card-body");
        body.innerHTML="";
        product.forEach((product,i)=>{
            const article = document.createElement('article');
            article.classList.add('itemslist');
            article.innerHTML=`
    <div class="row align-items-center">
        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
            <a class="itemside" >
                <div class="left">
                    <img src="/images/${product.image[0]}" class="img-sm img-thumbnail" alt="Item">
                </div>
                <div class="info">
                    <h6 class="mb-0">${product.title}</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>$${product.price}</span> </div>
        <div class="col-lg-2 col-sm-2 col-4 col-status">
            <span class="badge rounded-pill alert-success">${product.status}</span>
        </div>
        <div class="col-lg-2 col-sm-2 col-4 col-status">
            ${product.quantity < 1 ? 
                `<span class="badge rounded-pill alert-warning">out of stock</span>` :
                `<span class="badge rounded-pill alert-success">${product.quantity} item Left</span>`}
        </div>
        <div class="col-lg-1 col-sm-2 col-4 col-date">
            <span></span>
        </div>
        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
            <a href="/admin/editProduct?id=${product._id}" class="btn btn-sm font-sm rounded btn-brand pr-25">
                <i class="material-icons md-edit"></i> Edit
            </a>
            <a href="/admin/deleteProduct?id=${product._id}" class="btn btn-sm font-sm btn-light rounded">
                <i class="material-icons md-delete_forever"></i> Delete
            </a>
        </div>
    </div> 
`;
body.appendChild(article);
        })
        const pagination = document.querySelector('.pagination');
  pagination.innerHTML = '';
  for (let i = 1; i <= totalPage; i++) {
    console.log(totalPage);
  const a = document.createElement('a');
  a.href = `javascript:void(0)`;
  a.addEventListener("click", () => getPage(`page${i}`));
  a.innerHTML = `${i}`;
  a.id = `page${i}`
  const li = document.createElement('li');
  li.classList.add('page-item');
  li.appendChild(a);
  pagination.appendChild(li);
}
        })
    }
</script>
        <%- include("../layouts/footer.ejs")%>
