<%- include("../layouts/header.ejs")%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/addCategory" method="post" onsubmit="return validatcForm()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" onkeyup="validatString('product_name',
                                    'name_error','Name')" value="<%= typeof Cate === 'undefined' ? '' : Cate?.name %>"/ >
                                    <span id="name_error"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Slug</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_slug" name="slug" onkeyup="validatString('product_slug','slug_error','Slug')" value="<%= typeof Cate === 'undefined' ? '' : Cate?.slug ; %>">
                                    <span id="slug_error"></span>
                                    <input type="hidden" name="id" id="id" vvalue="<%= typeof Cate === 'undefined' ? '' : Cate?._id ; %>">
                                </div>
                                <!-- <div class="mb-4">
                                    <label class="form-label">Parent</label>
                                    <select class="form-select">
                                        <option>Clothes</option>
                                        <option>T-Shirts</option>
                                    </select>
                                </div> -->
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="discription" id="product_dis" 
                                    onkeyup="validatString('product_dis','dis_error','Discription')" value=""><%= typeof Cate === 'undefined' ? '' : Cate?.discription ; %></textarea>
                                    <span id="dis_error"></span>
                                </div>
                                <div class="d-grid">
                                    <span id="form_error"></span>
                                    <button class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> -->
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Slug</th>
                                            <th>Status</th>
                                            
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <%if(category.length>0){ for(let i=0;i<category.length;i++){%>
                                        <tr>
                                            <!-- <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td> -->
                                            <td><%=category[i].id%></td>
                                            <td><b><%=category[i].name%></b></td>
                                            <td><%= category[i].discription%></td>
                                            <td>/<%=category[i].slug%></td>
                                            <td><a href="/admin/"></a></td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <!-- <a class="dropdown-item" href="#">View detail</a> -->
                                                        <a class="dropdown-item" href="/admin/category?id=<%= category[i]._id%>">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="/admin/deleteCategory?id=<%=category[i]._id%>">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr>
                                        <%}%>

                                    <%}else{%>
<p>no catogory</p>
                                    <%}%>
                                    
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
<%- include("../layouts/footer.ejs")%>
        