<%- include('../layouts/userHeader.ejs') %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="">Women’s </a>
                        <span>Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <% if(product.image[0]){%>
                            <a class="pt active" href="#product-1">
                                <img src="/images/<%= product.image[0] %>" alt="">
                            </a><%} %>
                            <% if(product.image[1]){%>
                            <a class="pt" href="#product-2">
                                <img src="/images/<%= product.image[1] %>" alt="">
                            </a><%} %>
                            <% if(product.image[2]){%>
                            <a class="pt" href="#product-3">
                                <img src="/images/<%= product?.image[2] %>" alt="">
                            </a><%} %>
                            <% if(product.image[3]){%>
                            <a class="pt" href="#product-4">
                                <img src="/images/<%= product?.image[3] %>" alt="">
                            </a><%} %>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <% if(product.image[0]){%>
                                <img data-hash="product-1" class="product__big__img" src="/images/<%= product.image[0] %>" alt=""><%} %>
                                <% if(product.image[1]){%>
                                <img data-hash="product-2" class="product__big__img" src="/images/<%= product.image[1] %>" alt=""><%} %>
                                <% if(product.image[2]){%>
                                <img data-hash="product-3" class="product__big__img" src="/images/<%= product?.image[2] %>" alt=""><%} %>
                                <% if(product.image[3]){%> 
                                <img data-hash="product-4" class="product__big__img" src="/images/<%= product.image[3] %> "> <%} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3><%= product.title %><span>Brand: <%= product.brand %></span></h3>
                        <div class="rating">
                        <a href="">
                            <% for(let s=0; s<product?.totalrating; s++){%><i class="fa fa-star"></i><span> </span><%}%>
                            <% for(let s=0; s<5-product?.totalrating; s++){%><i class="fa fa-star-o"></i><span> </span><%}%>
                            <span>( <%= product.rating.length %> review )</span>
                        </a>
                        </div>
                        <div class="product__details__price">$<%= product.discount ? product.price - ( product.price * (product.discount/100 ))  : product.price  %> <span><%= product.discount ? `$${product.price}` : '' %></span> <p><%= product.discount %>%Off</p></div>
                        <p></p>
                        <div class="product__details__button">
                            <form action="/addtoCart?id=<%= product?._id %>" method="post">
                                <div class="quantity">
                                    <span>Quantity:</span>
                                    <div class="pro-qty">
                                        <input type="text" id="q" value="<%= typeof cartData !== 'undefined' ? cartData?.quantity : '0' %>" name="quantity">
                                    </div>
                                    <% if(typeof message !='undefined'){%>
                                        <span><%= message %></span>
                                        <%}%>
                                </div>
                                <ul>
                                    <li><a href="/deleteCart?id=<%= product._id %>"><span class="<%= typeof cartData !== 'undefined' ? 'icon_heart' : 'icon_heart_alt' %>"></span></a></li>
                                </ul>
                                <button class="cart-btn">Add to Cart</button>
                                
                                <!-- Use inline onclick event to get the quantity -->
                                <a class="cart-btn" style="background: orange;" onclick="buyNow()">BUY NOW</a>
                                
                                <script>
                                    function buyNow() {
                                        var quantity = document.getElementById('q').value;
                                        var productId = '<%= product._id %>';
                                        window.location.href = "/checkout?id=" + productId + "&quantity=" + quantity;
                                    }
                                </script>
                                
                                <!-- <a href="/addtoCart?id=<%= product._id %>"  class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a> -->
                            </form>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                       <%= product.quantity>0 ? 'In Stoke' : 'Out of stokes' %>
                                    </div>
                                </li>
                                <li>
                                    <label for="red"><%= product.color %>
                                        <span class="checkmark <%= product.color %>-bg"></span>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        </label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active"><%= product.size %>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__text">
                        <div class="stock__checkbox">
                            <form action="/addReview?id=<%= product._id %>" method="post">
                                <div class="stock__checkbox">
                                    <input type="hidden" name="star" id="instar">
                                    <%for(let i=1;i<=5;i++){%>
                                   <i class="fa fa-star-o" id="star-<%=i%>" onclick="changestar('<%=i%>')"></i> 
                                    <%}%>
                                    <textarea name="review" id="" class="form-control"  cols="30" rows="1"></textarea>
                                </div>
                                <button class="btn btn-info">ADD REVIEW</button>
                            </form>
                        </div>
                    </div>
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( <%= product.rating.length %> ) </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p><%= product.discription %></p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews(<%= product.rating.length %>) </h6>
                                <% product.rating.forEach((item)=>{ %>
                                <p><%= item.review %></p>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <% if(products){ %>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <% for(let i=0; i<products.length; i++){%>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/images/<%= products[i].image[0] %>" >
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a href="/images/<%= products[i].image[0] %>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="/addtoWishlist?id=<%= products[i]._id %>"><span id='<%= products[i]._id %>'  class="<%= wishlist?.product?.includes(products[i]?._id) ? 'icon_heart' : 'icon_heart_alt red' %>" onclick="change('<%= products[i]._id %>')"></span></a></li>
                                    <li><a href="/addtoCart?id=<%= products[i]._id %>"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                                <div class="product__item__text">
                                    <h6><a href="/productDetails/<%=products[i].id %>"><%= products[i].title %></a></h6><div class="rating">
                                        <% for(let j=1; j<=5; j++){ if(j<= products[i].totalrating){%>
                                        <i class="fa fa-star"></i>
                                        <%}else{%>
                                            <i class="fa fa-star-o"></i>
                                        <%}}%>
                                    </div>
                                    <div class="product__details__price">$<%= products[i].discount ? products[i]?.price - ( products[i]?.price * (products[i]?.discount/100 ))  : products[i]?.price  %> <span><%= products[i]?.discount ? `$${products[i]?.price}` : '' %></span></div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
           <%}else{%>

           <%}%>
            
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <%- include("../layouts/userFooter.ejs") %>