<%- include('../layouts/userHeader.ejs') %>
<% if (message) { %>
    <script>
      function showMessage(message) {
        const messageDiv = document.createElement('div');
        messageDiv.innerHTML = message;
        messageDiv.style.position = 'fixed';
        messageDiv.style.top = '50%';
        messageDiv.style.zIndex = '100'
        messageDiv.style.left = '50%';
        messageDiv.style.transform = 'translate(-50%, -50%)';
        messageDiv.style.backgroundColor = '#fff';
        messageDiv.style.padding = '20px';
        messageDiv.style.color = '#333';
        messageDiv.style.borderRadius = '10px';
        messageDiv.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.2)';
        messageDiv.style.maxWidth = '400px';
        messageDiv.style.width = '80%';
        messageDiv.style.textAlign = 'center';
        messageDiv.style.fontSize = '18px';
        messageDiv.style.fontWeight = 'bold';
        messageDiv.style.animation = 'fadeInOut 5s ease-in-out';
  
        document.body.appendChild(messageDiv);
  
        setTimeout(() => {
          messageDiv.style.opacity = '0';
          setTimeout(() => {
            document.body.removeChild(messageDiv);
          }, 1000); 
        }, 3000);
      }
    </script>
    <script>
      // Add a keyframe animation for fadeInOut
      const style = document.createElement('style');
      style.textContent = `
        @keyframes fadeInOut {
          0% { opacity: 0; }
          10% { opacity: 1; }
          90% { opacity: 1; }
          100% { opacity: 0; }
        }
      `;
      document.head.appendChild(style);
      showMessage('<%= message %>');
    </script>
  <% } %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <% if(product){%>
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                                <tbody>
                                <%for(let i=0; i<product.length; i++){ %>
                                    <tr>
                                        <td class="cart__product__item"><a href="/productDetails/<%=product[i]?.product_id?._id %>">
                                            <img src="images/<%= product[i]?.product_id?.image[0] %>" alt="" width="100 px">
                                        </a>
                                            <div class="cart__product__item__title">
                                                <h6><%= product[i].product_id?.title%></h6>
                                                <div class="rating">
                                                    <% for(let j=1; j<=5; j++){ if(j<= product[i].product_id?.totalrating){%>
                                                    <i class="fa fa-star"></i>
                                                    <%}else{%>
                                                        <i class="fa fa-star-o"></i>
                                                    <%}}%>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">
                                            <div class="product__details__price">
                                              $<%= product[i].product_id.discount || product[i].product_id.catDiscount ? 
                                                 product[i].product_id.discountPrice :
                                                 product[i].product_id.price
                                              %>
                                              <span>
                                                <%= product[i].product_id.discount ? `$${product[i].product_id.price}` : '' %>
                                              </span>
                                            </div>
                                          </td>
                                          
                                        <td class="cart__quantity">
                                            <div class="pro-qty"> 
                                        <!-- <span class="dec qtybtn">-</span> -->

                                                <input type="text"  value="<%= product[i].quantity %>" name="quantity" id="quantityInput<%= i %>">
                                        <!-- <span class="inc qtybtn" id="<%= i %>" onclick="dec('<%= i %>')">+</span> -->

                                                <span></span>
                                            </div>
                                            <!-- <script>
                                                const dec = (index)=>{
                                                let value =   document.getElementById(index).value;
                                                console.log(value,'d');
                                                value = value+1;
                                                console.log(value);
                                                }


                                            </script> -->
                                        </td>
                                        <td class="cart__quantity">
                                            
                                        <a href="#" onclick="updateQuantity('<%= product[i].product_id._id %>','<%= i%>')">Update</a>
                                        </td>
                                        
                                        <td class="cart__total" aria-valuenow="">$ <%= product[i].product_id?.discount || product[i].product_id.catDiscount ? product[i].product_id.discountPrice *product[i].quantity : product[i].product_id.price * product[i].quantity %></td>
                                        <td class="cart__close"><a href="/deleteCart?id=<%= product[i]._id %>"><span class="icon_close"></span></a></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                        <% if(typeof message!= 'undefined' ){%>
                            <div class="modal" id="quantityErrorModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title">Quantity Error</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal Body -->
                                        <div class="modal-body">
                                            <p>The updated quantity is greater than the available stock.</p>
                                        </div>
                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form onsubmit="" action="" method="get" >
                            <input type="text" name="code" value='' placeholder='<%= typeof message == "undefined" ? "Enter coupon code" : message %>' id="code">
                            <a onclick="applyCoupon()"><button type="button" class="site-btn"  >Apply</button></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ <span id="stotal"> <%= calculatTotal(product) %></span></span></li>
                            <% if(typeof discount !="undefined"){%><li>Total <span  >$ <span id="total"> <%= calculatTotal(product) -(calculatTotal(product) * discount /100) %></span></span></li><%}else{%><li>Total <span>$ <span id="total" > <%= calculatTotal(product)  %></span></span></li><%}%>
                        </ul>
                        <a id="href" href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
                            <%}else{%>

<p>No cart product</p>
                            <%}%>
    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ Fastcart_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function applyCoupon() {
        let code = document.getElementById('code').value
        let total = document.getElementById('stotal').innerHTML
        console.log(code,total);
        fetch(`/cart/coupon?code=${code}&total=${total}`, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
        }).then((res) => {
            return res.json()
        }).then((data) => {
            let { Total, discount, couponId,message } = data
            console.log(Total)
                if (Total ) {
                    document.getElementById('total').innerHTML = Total

                    const a = document.getElementById('href')
                    a.setAttribute('href', `/checkout?discount=${discount}&couponId=${couponId}`);
                    // document.getElementById('coupon_applied').value = ''
                    // document.getElementById('coupon_error').innerHTML = 'coupon used'
                    // document.getElementById('coupon_error').style.visibility = 'visible'
                } else {
                    const messageDiv = document.createElement('div');

messageDiv.innerHTML = message;
messageDiv.style.position = 'fixed';
messageDiv.style.top = '50%';
messageDiv.style.left = '50%';
messageDiv.style.transform = 'translate(-50%, -50%)';
messageDiv.style.backgroundColor = '#fff';
messageDiv.style.padding = '20px';
messageDiv.style.color = '#333';
messageDiv.style.borderRadius = '10px';
messageDiv.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.2)';
messageDiv.style.maxWidth = '400px';
messageDiv.style.width = '80%';
messageDiv.style.textAlign = 'center';
messageDiv.style.fontSize = '18px';
messageDiv.style.fontWeight = 'bold';
messageDiv.style.animation = 'fadeInOut 5s ease-in-out';

document.body.appendChild(messageDiv);

setTimeout(() => {
    messageDiv.style.opacity = '0';
    setTimeout(() => {
        document.body.removeChild(messageDiv);
    }, 1000); // Assuming the fadeOut animation takes 1 second
}, 5000); // Display for 5 seconds

// Add a keyframe animation for fadeInOut
const style = document.createElement('style');
style.textContent = `
@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
`;

document.head.appendChild(style);

                    // console.log(data.result)
                    // document.getElementById('discount').innerHTML = result.discount
                    // document.getElementById('offer_amount').innerHTML = result.answer
                    // document.getElementById('coupon_applied').value = code
                    // document.getElementById('coupon_error').style.visibility = 'hidden'
                }
            }
        )
    }
    </script>

<%- include("../layouts/userFooter.ejs") %>