<%- include('../layouts/userHeader.ejs') %>

<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-0"><a href="/user">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">My Wallet</strong></div>
            <div class="col-md-6 justify-content-end d-flex"><button onclick="addMoney()" type="button" class="site-btn"  >Add Money</button></div>
          </div>
        </div>
      </div>
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12">

                 <!-- Bootstrap Dark Table -->

                 <div class="card">
                    <h5 class="card-header text-white bg-danger">Wallet Balance : ₹ <%= typeof wallet == 'undefined' ? '0' : wallet?.balance %></h5>
                    <div class="table-responsive text-nowrap">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Payment Method</th>
                            <th>Refunded Amount</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          <% if (orders.length === 0) { %>
                            <tr>
                              <td colspan="7" class="text-center">No refunded orders available</td>
                            </tr>
                          <% } else { %>
                            <%let n = 1; orders.reverse().forEach((order, index) => { %>
                              
                              <tr>
                                <td><%= n++ %></td>
                                <td>
                                  <% if (order.createdAt) { %>
                                    <%= order.createdAt.toLocaleDateString() %>
                                  <% } else { %>
                                    N/A
                                  <% } %>
                                </td>
                                <td><strong>
                                  <% order.item.forEach((item) => {  %>
                                    <%= item.product.title %> <br>
                                  <% }) %>
                                </strong></td>
                                <td>
                                  <% order.item.forEach((item) => { %>
                                    <%= item.quantity %> <br>
                                  <% }) %> 
                                </td>
                                <td><%= order.payment %></td>
                                <td><% if(order.status != "ordered"){%>+<%}else{%>-<%}%><strong>₹ <%= order.total %></strong></td>
                              </tr>
                              <% if(order.payment == 'wallet' && order.status == 'Cancelled'){%>
                                <tr>
                                  <td><%= n++ %></td>
                                  <td>
                                    <% if (order.createdAt) { %>
                                      <%= order.createdAt.toLocaleDateString() %>
                                    <% } else { %>
                                      N/A
                                    <% } %>
                                  </td>
                                  <td><strong>
                                    <% order.item.forEach((item) => { %>
                                      <%= item.product.title %> <br>
                                    <% }) %>
                                  </strong></td>
                                  <td>
                                    <% order.item.forEach((item) => { %>
                                      <%= item.quantity %> <br>
                                    <% }) %> 
                                  </td>
                                  <td><%= order.payment %></td>
                                  <td><% if(order.status != "ordered"){%>-<%}else{%>+<%}%><strong>₹ <%= order.total %></strong></td>
                                </tr>
                                <%}%>
                            <% }) %>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                
                  
                  

                <!-- /Bootstrap Dark Table -->
            </div>
          </div>
        </div>
      </div>

   <script>
    function addMoney(){
      fetch('/addmoney',{method:'get'})
      .then((res)=>{
        return res.JSON();
      })
      .then((res)=>{
        const {payment,user} = res;
        razorpayPayment(payment,user)
      })
    }
    
    function razorpayPayment(order, user) {
        var options = {
            "key":"rzp_test_dka3Pol1L9thKD",
            "amount": order.amount,
            "currency": "INR",
            "name": "Fcart",
            "description": "Test Transaction",
            "image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
            "order_id": order.id,
            "handler": function (response) {
                console.log(response,order,"funnn")
                verifyPayment(response, order)
            },
            "prefill": {
                "name": user.name,
                "email": user.email,
                "contact": user.mobile
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options)
        
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code,"Payment failed");
        })
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        console.log(payment,order,"kj");
        fetch('/razorpay-success', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                payment,
                order,
                couponId,
                _id
            })
        }).then((res) => {
            
            return res.json()
        }).then((response) => {
            if (response.status) {
                console.log(response.status,"kl");
                location.href = `/order-success/${response.order}`
            } else {
                location.href = `/cart`
            }
        }).catch((error) => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
    }
   </script>  
<%- include('../layouts/userFooter.ejs') -%>